.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: antiquewhite;
    padding: auto;
    border: 1px solid;
    border-color: black;
}

.nav-item {
    margin : 10px;
}

.horizontal-line {
    border: 1px solid;
    
}

.about-me {
    margin-top: 20px;
    margin : 10px;
}

.nav-item > a {
    text-decoration:none;
    color: inherit;
    font-weight: bold;
}

.travel-item {
    border: 1px solid;
    padding: 10px;
}

img {
    width: 100%;
    height:auto;
}

.image-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.image-item {
    padding: 20px;
}

#toc_container {
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #aaa;
    display: table;
    font-size: 95%;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: .5%;
   
}

.toc_title {
    font-weight: 700;
    text-align: left;
}

#toc_container li, #toc_container ul, #toc_container ul li{
    list-style: outside none none !important;
}

li > a {
    text-decoration:none;
}

#toc_container ul {
    padding-inline-start: 0px;
}